<h1>DEM TITTIES!</h1>
<h6>I love DEM BOOBIES!!! BOOBIESSLSA:SDLKFA:S DLF :)</h6>

<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.button :submit %>
<% end %>
